.falling-pc.hidden{
    transform: translateY(-100vh);
    transition-delay: 0s;
    animation-delay: 0s;
    opacity: 0;
}
.falling-pc.fall{
    animation: fall 0.75s linear forwards;
}
@keyframes fall {
    0%{
        transform: translateY(-100vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}